<form class="ui inverted stacked segment form" action="/dashboard/addplaylist" method="POST">
  <div class="field">
    <label>Add New Playlist</label>
    <input placeholder="Title" type="text" name="title">
  </div>
  <button class="ui gray submit button">Add Playlist</button>
</form>
