<nav class="ui inverted menu">
  <header class="ui header item"> <a href="/"> Playlist Project </a></header>
  <div class="right menu">
    <a id="songs" class="item" href="/songs"> Songs </a>
    <a id="dashboard" class="item" href="/dashboard"> My Playlists </a>
    <a id="about" class="item" href="/about"> About </a>
    <a id="logout" class="item" href="/logout"> Logout </a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>