


<div id="ana_div">
<div class="div" id="div"><h1>
     {{title}}
  </h1> 
   <image src=" {{artistimage}}"></image>
  
  </div>
  
<div class="div" id="div2">
    <br><br><br><br><br>
  
   <h2>
    Genres : 
  </h2>
  <h3>
    {{genres}}
  </h3>
  
  <div class="ui labeled button" tabindex="0">
  <div class="ui red button">
    <i class="heart icon"></i> Followers
  </div>
  <a class="ui basic red left pointing label">
     {{followers}}
  </a>
</div>
 
  </div>
</div>
 
