<section class="ui center aligned middle aligned segment">
  <p>
    {{title}}
  </p>
  <p>
    Artist : {{artist}}
  </p>
    <p>
    Album : {{albumname}}
  </p>
  <img src="{{albumimage}}">
  
  
</section>