<nav class="ui menu">
  <header class="ui header item"> <a href="/"> Playlist 4 </a></header>
  <div class="right menu">
    <a id="login" class="item" href="/login">  Login   </a>
    <a id="signup" class="item" href="/signup"> Signup  </a>
  </div>
</nav>

