{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h3>
    Playlist 4
  </h3>
  <p>
    A Little Playlist Maker - Version 4
  </p>
  
  <p>
    {{content}}
  </p>
</section>